/* 
    Created on : Apr 7, 2018, 3:13:56 PM
    Author     : dlcusr
*/

header, footer{
     background-color: #333333;
     padding: 1em;
    color: white;
    text-align: center;
    clear: left;
    bottom: 0;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.form-control{
    max-width: 800px;
}

.container{
/*    width: 100%;
    border: 1px white;*/
    background-color: whitesmoke;
}

input[type=submit]{
    display: inline-block;
    margin: 1em;
    float: left;
    
}

input[type=submit]:hover{
    background-color: #4e9ffe;
}
