/* 
    Created on : Apr 7, 2018, 3:13:56 PM
    Author     : dlcusr
*/

header, footer{
    padding: 1em;
    color: white;
    background-color: #333333;
    text-align: center;
    clear: left;
    bottom: 0;
}

table, th, td {
    float: none;
    border:2px solid black;
    border-collapse: collapse;
/*    width: 100%; */
}

table {width: 100%;}

td { text-align: center}
footer{
/*    position: absolute;*/
    bottom: 0px;
    width: auto;
}

.container{
    width: 100%;
    border: 1px white;
    background-color: whitesmoke;
}

#cuerpo{
    margin: 1em;
    text-align: center;
    height: 27em;
  
}


